.btn {
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 7px 25px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    line-height: 2;
    position: relative;
    text-decoration: none;
}

.btn--primary {
    background-color: var(--blue-primary);
    color: white;
}

.btn--primary:hover {
    background-color: var(--blue-dark);
}

.btn--success {
    background-color: var(--green-primary);
    color: white;
}

.btn--success:hover {
    background-color: var(--green-dark);
}

.btn--error {
    background-color: var(--red-primary);
    color: white;
}

.btn--error:hover {
    background-color: var(--red-dark);
}

.btn--small {
    padding: 5px 15px 2px !important;
    font-size: 10px !important;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn > .fa {
    margin-right: 0.3rem;
}