.badge {
    background-color: #03A9F4;
    color: black;
    font-size: 12px;
    padding: 0.5rem;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    margin: 0.1rem;
}

.badge__close {
    position: absolute;
    right: 2px;
    top: 0;
    line-height: 1;
    color: white;
}